$gray: #3e3f47;
$gray-dark: #2b2c31;
$gray-light: #adadad;

//Clients-------------------------------
//--MikeCoach---------------------------
$red: #f23849;
//--Cactalia---------------------------
$lilac: #D8B0EA;
$pink: #ff92aa;
$pink-dark: #6f4546;

$black: #303136;

$spotify-green: #1DB954;

$instagram-purple: #E1306C;

$google-red: #4285F4;

$mario-back-black: #242424;
$mario-back-gold: #ea8d33;