<section class="container">
    <div class="mt-5 p-0">
        <div class="row">
            <div class="col-12">
                <h1 class="center">Widgets</h1>
            </div>
        </div>
    </div>
    <div class="mt-5 p-0">
        <div class="row">
            <h2 class="h-spotify">Spotify</h2>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <p>Playlist</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Podcast</p>  
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <iframe class="spotify-media shadow" src="https://open.spotify.com/embed/playlist/1kimMOmQ5CKenvncduxUQG?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <iframe class="spotify-media shadow" src="https://open.spotify.com/embed/episode/1WDHExX9i66SxQ5PxVjF0L?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="mt-5 p-0">
        <div class="row">
            <h2 class="h-instagram">Instagram</h2>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6 mb-3">
                <p>Feed</p>
                <iframe class="instagram-media instagram-media-rendered shadow" id="instagram-embed-0" src="https://www.instagram.com/audi/embed/" allowtransparency="true" allowfullscreen="true" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="mt-5 p-0">
        <div class="row">
            <h2 class="h-google">Google</h2>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <p>Maps</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Calendar</p>  
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <iframe class="maps-media shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7531.567116841639!2d-99.65369552113019!3d19.29177642772234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89ea33402ba5%3A0x19fcd4be3a072f99!2sCosmovitral%20Jard%C3%ADn%20Bot%C3%A1nico!5e0!3m2!1ses-419!2smx!4v1683837380584!5m2!1ses-419!2smx" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <iframe class="calendar-media shadow"src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FMexico_City&showNav=1&showDate=1&showPrint=0&showTabs=1&showCalendars=1&showTz=1&showTitle=1&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%230B8043" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>