<section>
    <div class="container p-0">
        <div class="mt-5 p-0">
            <div class="row">
                <div class="col-12">
                    <h1 class="center">Widgets</h1>
                    <p class="center">Elige entre la variedad de widgets disponibles para promocionar tu marca o servicio en tu sitio web.</p>
                </div>
            </div>
        </div>
        <div class="mt-4 p-0">
            <div class="row">
                <h2 class="h-spotify">Spotify</h2>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-md-6 mb-3">
                    <p class="widget-name">> Playlist</p>
                    <spotify-widget url="https://open.spotify.com/embed/playlist/1kimMOmQ5CKenvncduxUQG?utm_source=generator"/>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <p class="widget-name">> Podcast</p>  
                    <spotify-widget url="https://open.spotify.com/embed/episode/1WDHExX9i66SxQ5PxVjF0L?utm_source=generator"/>
                </div>
            </div>
        </div>
        <div class="mt-5 p-0">
            <div class="row">
                <h2 class="h-instagram">Instagram</h2>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-md-6 mb-3">
                    <p class="widget-name">> Feed</p>
                    <instagram-widget url="https://www.instagram.com/audi/embed/"/>
                </div>
            </div>
        </div>
        <div class="mt-5 p-0">
            <div class="row">
                <h2 class="h-google">Google</h2>
            </div>
            <div class="row ">
                <div class="col-12 col-md-6">
                </div>
                <div class="col-12 col-md-6">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-md-6 mb-3">
                    <p class="widget-name">> Maps</p>
                    <google-maps-widget url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7531.567116841639!2d-99.65369552113019!3d19.29177642772234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89ea33402ba5%3A0x19fcd4be3a072f99!2sCosmovitral%20Jard%C3%ADn%20Bot%C3%A1nico!5e0!3m2!1ses-419!2smx!4v1683837380584!5m2!1ses-419!2smx"/>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <p class="widget-name">> Calendar</p>  
                    <iframe class="calendar-media"src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FMexico_City&showNav=1&showDate=1&showPrint=0&showTabs=1&showCalendars=1&showTz=1&showTitle=1&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%230B8043" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>