@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

nav {
    background-color: $gray;

    * {
        font-family: $font-base;
        color: white;
    }

    .navbar-brand{
        font-weight: 800;
        display: flex;
        align-items: center;

        img{
            margin-right: 7px;
            width: 27px;
            height: 20px;
        }
    }

    .nav-link{
        margin-left: 10px;
    }

    .nav-link:hover{
        color: $gray-light;
    }

    .active {
        font-weight: 800;
        color: $gray-light;
        text-decoration: underline;
    }

    .active:hover {
        text-decoration: underline;
    }
}