@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

nav {
    background-color: $gray;

    * {
        font-family: $font-base;
        color: white;
    }

    .active {
        color: white;
        border-bottom: 1px solid white;
    }
}