<section>
    <div class="container user-data-card pb-4 shadow">
        <div class="row">
            <div class="image-bar">
                <img src="../../../assets/img/default.png" class="userPhoto">
            </div>
            <div class="row mt-5 m-0">
                <div class="col-12">
                    <h4 class="user-name">Oscar Lechuga</h4>
                    <p class="subtitle">Desarrollador</p>
                </div>
            </div>
            <div class="row mt-2 m-0">
                <div class="col-12 center">
                    <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-primary social-button">
                            <i class="fa-brands fa-telegram"></i>
                        </button>
                    </a>
                    <a href="https://www.instagram.com/oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-error social-button">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://open.spotify.com/user/1311472?si=12b80d834b054c72" target="_blank"
                        rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-success social-button">
                            <i class="fa-brands fa-spotify"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 center">
                    <button type="button" class="nes-btn is-success social-button">
                        Banco Azteca
                        <i class="fa-solid fa-sack-dollar"></i>
                    </button>
                    <button type="button" class="nes-btn is-primary social-button">
                        BBVA
                        <i class="fa-solid fa-sack-dollar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 shadow">
                <iframe class="spotify-media" src="https://open.spotify.com/embed/playlist/1kimMOmQ5CKenvncduxUQG?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-12 col-md-6 mb-3 shadow">
                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/audi/embed/" allowtransparency="true" allowfullscreen="true" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3 shadow">
                <iframe class="maps-media" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7531.567116841639!2d-99.65369552113019!3d19.29177642772234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89ea33402ba5%3A0x19fcd4be3a072f99!2sCosmovitral%20Jard%C3%ADn%20Bot%C3%A1nico!5e0!3m2!1ses-419!2smx!4v1683837380584!5m2!1ses-419!2smx" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-12 col-md-6 mb-3 shadow">
                <iframe class="calendar-media"src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FMexico_City&showNav=1&showDate=1&showPrint=0&showTabs=1&showCalendars=1&showTz=1&showTitle=1&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%230B8043" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>
<footer class="mt-2">
    <div class="container">
        <div class="footer-bottom">
            <div class="copyright">| Desarrollado por: <a href="https://www.oscarlvz.dev/" target="_blank" rel="noopener noreferrer">OscarLVz.dev</a></div>
        </div>
    </div>
</footer>