<div class="container card user-data-card pb-4 shadow mt-2">
    <div class="row">
        <div class="image-bar">
        <img src="../../../assets/img/default.png" class="userPhoto">
    </div>
    <div class="row mt-5 m-0">
        <div class="col-12">
            <h4 class="user-name">Oscar Lechuga</h4>
            <p class="subtitle">Desarrollador</p>
        </div>
    </div>
    <div class="row mt-2 m-0">
        <div class="col-12 center">
            <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                <button type="button" class="nes-btn is-primary social-button">
                    <i class="fa fa-telegram"></i>
                </button>
            </a>
            <a href="https://www.instagram.com/oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                <button type="button" class="nes-btn is-error social-button">
                    <i class="fa fa-instagram"></i>
                </button>
            </a>
        </div>
    </div>
</div>