<div class="container card user-data-card pb-4 shadow mt-2">
    <div class="row">
        <div class="image-bar">
        <img src="../../../assets/img/default.png" class="userPhoto">
    </div>
    <div class="row mt-5 m-0">
        <div class="col-12">
            <h4 class="user-name">Oscar Lechuga</h4>
            <p class="subtitle">www.oscarlvz.com</p>
        </div>
    </div>
    <div class="row mt-2 m-0">
        <div class="col-12 center">
            <button type="button" class="nes-btn is-success">Success</button>
        </div>
    </div>
</div>