@import "../styles.scss";

.subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.user-data-card {
    background: $gray;
    border-radius: 15px;
}

.image-bar {
    width: 100%;
    height: 200px;
    max-height: 200px;
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/bar.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.userPhoto {
    border-radius: 100%;
    max-width: 140px;
    position: absolute;
    top: 100px;
    border: 4px solid white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
}

.user-name {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.social-button {
    margin: 0px 10px;
}

.fa-telegram,
.fa-instagram,
.fa-spotify {
    font-size: 25px;
}

.spotify-media {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.instagram-media {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    display: block;
    border-radius: 15px;
    background: white;
}

.calendar-media {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: white;
}

.maps-media{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    background: white;
}

@media only screen and (max-width: 576px) {
    section {
        margin: 10px !important;
    }
}