<footer>
    <img src="../../../../assets/img/mario/Mario.gif" class="m1">
    <div class="footer-cont">
        <div class="bar-btn-mario mt-0">
        </div>
        <div class="container">
            <div class="footer-bottom">
                <div class="copyright">
                    <a class="navbar-brand" routerLink="/">
                        © 2024
                        <img src="../../../../favicon.ico" alt="<>">
                        OscarLVz.dev
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>