@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";


footer {
    .bar-btn-mario {
        background-image: url("/assets/img/mario/BrickBlockDark.png");
        height: 16px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    
    * {
        font-family: $font-base;
    }
    position: absolute;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.footer-cont {
    background-color: $black;

}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .copyright {
        font-size: 13px;
        .navbar-brand{
            font-weight: 800;
            display: flex;
            align-items: center;
    
            img{
                margin-right: 5px;
                margin-left: 5px;
                width: 20px;
                height: 18px;
            }
        }

        a:hover{
            color: $gray-light;
        }
    }
}

.m1 {
    position: relative;
    animation: example 32s linear infinite;
    transform: scaleX(-1);

    &:active {
        animation: example 32s linear infinite, jump 0.5s ease-in-out;
        //background-image: url("/assets/img/mario/BrickBlockDark.png");
    }
}

.frase {
    font-weight: 500 !important;
}

@keyframes example {
    0%   {left: 100%}
    100%  {left: -10%}
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-35px); }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 576px) {
    .m1 {
        animation-duration: 7s;
    }
}