@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

footer {
    background-color: $black;

    * {
        font-family: $font-base;
    }
    position: absolute;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .copyright {
        font-size: 13px;
        .navbar-brand{
            font-weight: 800;
            display: flex;
            align-items: center;
    
            img{
                margin-right: 5px;
                margin-left: 5px;
                width: 20px;
                height: 18px;
            }
        }

        a:hover{
            color: $gray-light;
        }
    }
}