@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

.project-card{
    border-radius: 15px;
    background: $gray;
    padding: 0;
    .project-header{
        width: 100%;
        height: 300px;
        background-image: url("/assets/img/clients/mc_page.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 15px 15px 0 0;

        .client-logo {
            width: 80%;
        }
    }
    .project-content{
        padding: 15px 30px !important;

        .title{
            a{
                font-weight: 700;
                color: white;
            }
            span{
                color: $red;
            }
        }
    }

    .project-footer{
        margin-bottom: 20px;
        a{
            width: 100%;
        }
        button{
            width: 90%;
            font-family: $font-primary;
            background: $red;
        }
    }
}

@media only screen and (max-width: 576px) {
    section {
        margin: 12px !important;
    }

    .full{
        margin: 0px !important;
    }

    .project-card{
        .project-header{
            max-height: 230px;
        }
    }
}