@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

.subtitle {
    font-family: $font-primary;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $mario-back-gold;
}

.nes-btn {
    font-family: $font-primary;
    background: #008088 !important;
    box-shadow: inset -4px -4px #005a60 !important;
}

.nes-btn::after {
    box-shadow: inset -4px -4px #000000 !important;
}

.user-data-card {
    background: #000000;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    position: relative;
    transform: translateY(-25%);
    z-index: 1;
}

.bar-top-mario {
    background-image: url("/assets/img/mario/BrickBlockDark.png");
    background-size: 16px 16px;
    height: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bar-btn-mario {
    background-image: url("/assets/img/mario/BrickBlockDark.png");
    height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.userPhoto {
    max-width: 140px;
    border-radius: 100%;
    border: 4px solid white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.user-name {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.social-button {
    margin: 0px 10px;
}

.fa-solid,
.fa-brands {
    font-size: 25px;
}

.calendar-media {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: white;
}

.maps-media {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    background: white;
}

.projects {
    background: $gray;

    .logos{
        display: flex;
        justify-content: center;

        .client-logo {
            width: 70%;
        }
    }

}

@media only screen and (max-width: 576px) {
    section {
        margin: 12px !important;
    }

    .full{
        margin: 0px !important;
    }
}