@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

.userPhoto {
    max-width: 98%;
    border-radius: 100%;
    border: 3px solid white;
    display: inline-block;
}

.user-name {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
}

.subtitle {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 700;
    color: $mario-back-gold;
}

.pl1 {
    position: relative;
    left: 30%;
}

.fa-solid,
.fa-brands {
    font-size: 19px;
}

.nes-btn {
    font-family: $font-primary;
    background: #008088 !important;
    box-shadow: inset -4px -4px #005a60 !important;
    margin-top: 0px !important;
}

.nes-btn::after {
    box-shadow: inset -4px -4px #000000 !important;
}

.user-data-card {
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;

    .row{
        background: #000000;
        
        .bar-top-mario {
            background-image: url("/assets/img/mario/BrickBlockDark.png");
            background-size: 16px 16px;
            height: 16px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        
        .bar-btn-mario {
            background-image: url("/assets/img/mario/BrickBlockDark.png");
            height: 32px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}

.turtle {
    height: 24px;
    width: 40px;
    position: relative;
}

.t1 {
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.cn1 {
    position: relative;
    right: -80%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.projects {
    background: $gray;

    .logos{
        display: flex;
        justify-content: center;

        .client-logo {
            width: 70%;
        }
    }

}

@keyframes example {
    0%   {left: -10%}
    100%  {left: 100%}
  }

@media only screen and (max-width: 576px) {
    section {
        margin: 12px !important;
    }

    .full{
        margin: 0px !important;
    }

}

@media only screen and (max-width: 767px) {
    .user-name {
        font-size: 15px;
        margin-left: 5px;
    }

    .subtitle {
        font-size: 11px;
        margin-left: 5px;
    }
}