<section class="mt-5">
    <audio #audioPlayer src="../../../assets/audio/mainSong.mp3"></audio>
    <div class="container">
        <div class="row mt-4">
            <div class="col-3 col-md-2 col-lg-1 px-0" style="display: flow-root; align-content: center; text-align: center;">
                <img src="../../../assets/img/user.jpg" class="userPhoto">
            </div>
            <div class="col-9 col-md-10 col-lg-11">
                <div class="row">
                    <div class="col-12 col-md-7 pt-2 pt-md-4 p-md-5 px-lg-4 pb-0 pb-md-0">
                        <h4 class="user-name text-start">Oscar Lechuga</h4>
                        <p class="subtitle text-start">Software engineer</p>
                    </div>
                    <div class="col-12 col-md-5 pr-0 pt-md-5 text-start text-md-end">
                        <a href="https://github.com/OscarLVz" target="_blank" rel="noopener noreferrer">
                            <button type="button" class="nes-btn">
                                <i class="fa-brands fa-github"></i>
                            </button>
                        </a>
                        <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                            <button type="button" class="nes-btn mx-3">
                                <i class="fa-brands fa-telegram"></i>
                            </button>
                        </a>
                        <a href="https://open.spotify.com/user/1311472?si=12b80d834b054c72" target="_blank"
                            rel="noopener noreferrer">
                            <button type="button" class="nes-btn">
                                <i class="fa-brands fa-spotify"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container user-data-card pb-0 pt-1 shadow">
        <img src="../../../assets/img/mario/PiranaPlantDark.gif" class="pl1">
        <img src="../../../assets/img/mario/CoinForBlackBG.gif" class="cn1">
        <img src="../../../assets/img/mario/CoinForBlackBG.gif" class="cn1">
        <img src="../../../assets/img/mario/CoinForBlackBG.gif" class="cn1">
        <div class="row">
            <div class="bar-top-mario">
            </div>
            <div class="row mt-5 mb-3 m-0">
                
            </div>
            <img src="../../../assets/img/mario/KoopaTroopaGreenDark.gif" class="turtle t1">
            <div class="bar-btn-mario mt-0">
            </div>
        </div>
    </div>
</section>
<!--section>
    <div class="container mt-5 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <spotify-widget url="https://open.spotify.com/embed/playlist/1kimMOmQ5CKenvncduxUQG?utm_source=generator"/>
            </div>
            <div class="col-12 col-md-6 mb-3">
            </div>
        </div>
    </div>
</section>
<section class="full">
    <div class="projects container-fluid mt-3 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="center">Proyectos</h4>
                </div>
            </div>
            <div class="row logos">
                <div class="col-12 col-md-4 mt-5 mt-md-4">
                    <a href="https://mikecoach.com.mx/" class="center-content h-100" target="_blank" rel="noopener noreferrer">
                        <img src="../../../assets/img/clients/mc_logo.png" class="client-logo"alt="MikeCoach">
                    </a>
                </div>
                <div class="col-12 col-md-4 mt-5 mt-md-4">
                    <a href="https://www.cactalia.com.mx/" class="center-content h-100" target="_blank" rel="noopener noreferrer">
                        <img src="../../../assets/img/clients/cactalia_logo.png" class="client-logo"alt="Cactalia">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-5 center">
                    <button type="button" class="nes-btn is-primary" routerLink="/proyectos">
                        Ver detalles
                    </button>
                </div>
            </div>
        </div>
    </div>
</section-->