<section class="mt-3">
    <img src="../../../assets/img/user.jpg" class="userPhoto">
    <div class="container user-data-card pb-0 shadow">
        <div class="row">
            <div class="bar-top-mario">
            </div>
            <div class="row mt-5 m-0">
                <div class="col-12">
                    <h4 class="user-name">Oscar Lechuga</h4>
                    <p class="subtitle">Desarrollador</p>
                </div>
            </div>
            <div class="row mt-2 m-0">
                <div class="col-12 center">
                    <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn social-button">
                            <i class="fa-brands fa-telegram"></i>
                        </button>
                    </a>
                    <a href="https://www.instagram.com/oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn social-button">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://open.spotify.com/user/1311472?si=12b80d834b054c72" target="_blank"
                        rel="noopener noreferrer">
                        <button type="button" class="nes-btn social-button">
                            <i class="fa-brands fa-spotify"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="bar-btn-mario mt-4">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <spotify-widget url="https://open.spotify.com/embed/playlist/1kimMOmQ5CKenvncduxUQG?utm_source=generator"/>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <instagram-widget url="https://www.instagram.com/audi/embed/"/>
            </div>
        </div>
    </div>
</section>
<section class="full">
    <div class="projects container-fluid mt-3 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="center">Proyectos</h4>
                </div>
            </div>
            <div class="row logos">
                <div class="col-12 col-md-4 mt-5 mt-md-4">
                    <a href="https://mikecoach.com.mx/" class="center-content h-100" target="_blank" rel="noopener noreferrer">
                        <img src="../../../assets/img/clients/mc_logo.png" class="client-logo"alt="MikeCoach">
                    </a>
                </div>
                <div class="col-12 col-md-4 mt-5 mt-md-4">
                    <a href="https://www.cactalia.com.mx/" class="center-content h-100" target="_blank" rel="noopener noreferrer">
                        <img src="../../../assets/img/clients/cactalia_logo.png" class="client-logo"alt="Cactalia">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-5 center">
                    <button type="button" class="nes-btn is-primary" routerLink="/proyectos">
                        Ver detalles
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>