@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

.subtitle {
    font-family: $font-primary;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.nes-btn {
    font-family: $font-primary;
}

.user-data-card {
    background: $gray;
    border-radius: 15px;
}

.image-bar {
    width: 100%;
    height: 200px;
    max-height: 200px;
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/bar.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.userPhoto {
    max-width: 140px;
    border-radius: 100%;
    border: 4px solid white;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

.user-name {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.social-button {
    margin: 0px 10px;
}

.fa-solid,
.fa-brands {
    font-size: 25px;
}

.spotify-media {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.instagram-media {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    display: block;
    border-radius: 15px;
    background: white;
}

.calendar-media {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: white;
}

.maps-media {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    background: white;
}

.projects {
    background: $black;

    .logos{
        display: flex;
        justify-content: center;

        .client-logo {
            width: 70%;
        }
    }

}

@media only screen and (max-width: 576px) {
    section {
        margin: 12px !important;
    }

    .full{
        margin: 0px !important;
    }
}