//NES Styles
@import "/node_modules/nes.css/css/nes.css";

//Icons
@import "./assets/fontawesome/scss/fontawesome.scss";
@import "./assets/fontawesome/scss/solid.scss";
@import "./assets/fontawesome/scss/brands.scss";
@import "./assets/fontawesome/scss/regular.scss";
$fa-font-path: "./assets/fontawesome/webfonts";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//Colors
@import "./assets/scss/colors.scss";

//Preloader
@import "./assets/scss/preloader.scss";

* {
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background: $gray-dark;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
}