@import "/node_modules/nes.css/css/nes.css";

$gray: #3e3f47;
$gray-dark: #2b2c31;
$telegram-blue: #29a9e9;
$instagram-pink: #e801ce;

* {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    background: $gray-dark;
}

.center{
    text-align: center;
}