//NES Styles
@import "/node_modules/nes.css/css/nes.css";

//Icons
@import "./assets/fontawesome/scss/fontawesome.scss";
@import "./assets/fontawesome/scss/solid.scss";
@import "./assets/fontawesome/scss/brands.scss";
@import "./assets/fontawesome/scss/regular.scss";
$fa-font-path: "./assets/fontawesome/webfonts";

//Colors
$gray: #3e3f47;
$gray-dark: #2b2c31;

* {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    background: $gray-dark;
}

.center {
    text-align: center;
}

/*-------------------- PRELOADER --------------------*/

body {
    overflow: hidden;
}

body.page-loaded {

    overflow: auto;
    overflow-x: hidden;
}

body.page-loaded .preloader-cover {
    transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
    opacity: 0;
    pointer-events: none;
}

.preloader-cover {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-dark;
    opacity: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;
}

.loader::before {
    content: '';
    position: absolute;
    left: calc(100% - 2px);
    top: 0;
    z-index: -2;
    height: 10px;
    width: 70px;
    border-radius: 0 4px 4px 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
    background-size: 50px 10px, 4px 8px, 24px 4px;
    background-position: right center, 17px center, 0px center;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -2;
    transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
    width: 55px;
    height: 53px;
    background: #fff;
    background-image:
        radial-gradient(circle 3px, #fff6 90%, transparent 10%),
        radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
        radial-gradient(circle 12px, #ffae00 100%, transparent 0);
    background-repeat: no-repeat;
    background-position: -4px -6px, -2px -2px, -1px -1px;
    box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
    border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
    animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
    0%,
    100% {
        transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
        opacity: 0;
    }

    10%,
    90% {
        transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
        opacity: 1;
    }

    25% {
        transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg)
    }

    75% {
        transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg)
    }

    50% {
        transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg)
    }
}

@keyframes panex {
    0% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(10deg)
    }
}

/*-------------------- PRELOADER --------------------*/